<ng-container *ngFor="let user of users">
  <div class="row">
    <div class="col-12">
      <ul class="list-user">
        <li class="el-list-user">{{ user.name }}</li>
        <li class="el-list-user">{{ user.surname }}</li>
        <li class="el-list-user">{{ user.contract.retribution }}</li>
        <li class="el-list-user">{{ user.rating }}</li>

        <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Role
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" *ngFor="let role of user.roles">{{
              role.role
            }}</a>
          </div>
        </div>
      </ul>
    </div>
  </div>
</ng-container>
