<div class="row">
  <ng-container *ngFor="let user of users">
    <div class="col-6 col-md-4 col-3 p-1">
      <div class="card">
        <img
          src="{{ user.avatar }}&rounded=false"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <ul class="list-user">
            <li class="el-list-user">Name: {{ user.name }}</li>
            <li class="el-list-user">Surname: {{ user.surname }}</li>
            <li class="el-list-user">
              Retribution: {{ user.contract.retribution }}$
            </li>
            <li class="el-list-user">Rate: {{ user.rating }}/100</li>

            <div class="dropdown">
              <button
                class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Role
              </button>
              <ul class="dropdown-menu">
                <li *ngFor="let role of user.roles">
                  <a class="dropdown-item">{{ role.role }}</a>
                </li>
              </ul>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </ng-container>
</div>
