<div class="row">
  <ng-container *ngFor="let user of users">
    <div class="col-6 col-lg-4 p-3">
      <div class="card h-100">
        <div class="row g-0 h-100">
          <div class="col-md-4">
            <img
              src="{{ user.avatar }}&rounded=false"
              class="rounded h-100 w-100 object-fit-cover"
              alt="..."
            />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <ul class="list-user">
                <span>Name</span>
                <li class="el-list-user">{{ user.name }}</li>
                <span>Surname </span>
                <li class="el-list-user">{{ user.surname }}</li>
                <span>Retribution</span>
                <li class="el-list-user">
                  <ng-container *ngIf="user.contract; else noContractTemplate">
                    {{ user.contract.retribution }}$
                    <button
                      class="small-accent-button"
                      (click)="openDialogContract('100ms', '100ms', user)"
                    >
                      <i class="bi bi-pencil-square"></i>
                    </button>
                  </ng-container>

                  <ng-template #noContractTemplate>
                    <div class="d-flex justify-content-end">
                      <button
                        class="inverse-button p-0 fs-7"
                        (click)="openDialogContract('100ms', '100ms', user)"
                      >
                        Add Contract
                      </button>
                    </div>
                  </ng-template>
                </li>
                <span> Rate </span>
                <li
                  class="el-list-user position-relative mb-2"
                  (click)="openDialogSlider('100ms', '100ms', user)"
                >
                  {{ user.rating }}/100
                  <button class="small-accent-button">
                    <i class="bi bi-pencil-square"></i>
                  </button>
                </li>

                <div class="dropdown">
                  <button
                    class="dropdown-toggle el-list-user"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Role</button
                  ><button
                    class="el-list-user fs-6"
                    (click)="openDialogAddTask('100ms', '100ms', user)"
                  >
                    Add Task
                  </button>
                  <ul class="dropdown-menu">
                    <li *ngFor="let role of user.roles">
                      <a class="dropdown-item">{{ role.role }}</a>
                    </li>
                  </ul>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
