<div
  class="d-flex justify-content-center align-items-center first-container"
  *ngIf="me"
>
  <div class="card">
    <div class="row g-0">
      <div class="col-md-4">
        <img
          src="{{ me.avatar }}&rounded=false"
          class="rounded h-100 w-100 object-fit-cover"
          alt="..."
        />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <ul class="div-profile">
            <span>Name</span>
            <li class="el-profile">{{ me.name }}</li>
            <span>Surname </span>
            <li class="el-profile">{{ me.surname }}</li>
            <span>Username </span>
            <li class="el-profile">{{ me.username }}</li>
            <span>Email </span>
            <li class="el-profile">{{ me.email }}</li>

            <li class="d-flex justify-content-around">
              <button
                class="inverse-button"
                (click)="openDialog('100ms', '100ms')"
              >
                Edit
              </button>
              <button class="red-button">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
