<main class="d-flex justify-content-center align-items-center">
  <div class="row d-flex justify-content-around" *ngIf="me">
    <div class="m-3 col-12 col-md-auto">
      <img src="{{ me.avatar }}" alt="" />
    </div>
    <div class="col-md-auto d-flex align-items-center justify-content-center">
      <div>
        <p>Name</p>
        <h3>{{ me.name }}</h3>
        <p>Surname</p>
        <h3>{{ me.surname }}</h3>
        <p>Username</p>
        <h3>{{ me.username }}</h3>
        <p>Email</p>
        <h3>{{ me.email }}</h3>
        <p>Rate</p>
        <h3>{{ me.rating }}</h3>
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <button class="btn btn-warning" (click)="openDialog('100ms', '100ms')">
        Edit
      </button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
</main>
