<div class="d-flex flex-column h-100 justify-content-around">
  <div *ngIf="presences.length > 0">
    <p class="ps-4 m-0 pb-2 pt-2">Select Date</p>
    <mat-card class="demo-inline-calendar-card">
      <mat-calendar
        [(selected)]="selected"
        [dateClass]="dateClass()"
      ></mat-calendar>
    </mat-card>
    <div class="ps-4 pe-4 text-end mt-2">
      <span>Legend</span>
      <span class="bg-primary-blu">HOLIDAY</span>
      <span class="bg-accent">PERMIT</span>
      <span class="bg-green">PRESENT</span>
      <span class="bg-secondary-blu">SELECTED</span>
    </div>
  </div>

  <div class="p-4 d-flex align-items-center">
    <form #form="ngForm" (ngSubmit)="newAbstinenceStatus(form)">
      <div class="form-group">
        <label for="abstinenceStatus">Abstinence Status</label>
        <select
          id="abstinenceStatus"
          name="abstinenceStatus"
          class="form-select"
          required
          ngModel
        >
          <option value="" selected disabled>Select Abstinence status</option>
          <option value="PERMIT">Permit</option>
          <option value="HOLIDAY">Holiday</option>
        </select>
      </div>
      <button
        type="submit "
        class="mt-3 inverse-button"
        [disabled]="form.invalid"
      >
        Update Status
      </button>
    </form>
  </div>
</div>
