<div class="row container-home">
  <!-- primo riquadro -->
  <div class="col-12 col-md-6 col-lg-6 col-xl-3 order-1 p-2">
    <div class="side d-flex flex-column h-100">
      <div class="home-el button-badge p-0">
        <app-button-badge></app-button-badge>
      </div>

      <div class="flex-grow-1">
        <div class="home-el">
          <app-task-list></app-task-list>
        </div>
      </div>

      <div class="home-el text-center circle">
        <app-progress-circle></app-progress-circle>
      </div>
    </div>
  </div>
  <!-- secondo riquadro -->
  <div class="col-12 col-md-12 col-xl-6 order-3 order-xl-2 p-2">
    <div class="side d-flex flex-column h-100">
      <div class="home-el flex-grow-1 p-0">
        <app-calendar></app-calendar>
      </div>

      <div class="col-12">
        <div class="home-el"><app-slider></app-slider></div>
      </div>
    </div>
  </div>
  <!-- terzo riquadro -->
  <div class="col-12 col-md-6 col-lg-6 col-xl-3 order-2 order-xl-3 p-2">
    <div class="side d-flex flex-column h-100">
      <div class="home-el flex-grow-1">
        <app-course-list></app-course-list>
      </div>

      <div class="home-el flex-grow-1">
        <app-result-list></app-result-list>
      </div>
    </div>
  </div>
</div>
