.start {
  background-color: var(--color-secondary-blu);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
}
.finish {
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
}
.already-finish {
  border: 2px solid var(--color-prymary-blu);
  background-color: var(--color-prymary-blu);
  font-size: 1.2em;
  color: var(--color-white);
  padding: 0.6em;
  border-radius: 5px;
}
