<div class="position-relative">
  <button
    (click)="openDialog('100ms', '100ms')"
    class="small-accent-button position-absolute top-0 end-0"
  >
    ALL
  </button>

  <button
    *ngIf="manager"
    (click)="openDialogAdd('100ms', '100ms')"
    class="small-accent-button position-absolute top-0 end-25"
  >
    ADD
  </button>
  <h2 class="mb-1">Courses</h2>
  <ng-container *ngFor="let course of courses">
    <div class="position-relative child-home-el">
      <h3 class="mb-0 fw-bolder">
        {{ course.title }}
      </h3>
      <p class="mb-0">
        {{ course.description }}
      </p>
      <p class="hours">hours {{ course.hours }}</p>
      <button
        class="small-accent-button position-absolute top-0 end-0"
        (click)="addMeCourses(course.id)"
      >
        <i class="bi bi-plus-lg"></i>
      </button>
    </div>
  </ng-container>
</div>
