<nav class="navbar navbar-expand navbar-light fixed-bottom sticky-md-top">
  <ul class="navbar-nav w-100 d-none d-md-flex">
    <li class="nav-item active me-auto">
      <a
        class="navbar-brand me-auto"
        [routerLink]="['']"
        routerLinkActive="active"
        ><img src="../../../assets/logo nero.png" alt="" />
      </a>
    </li>
    <li
      class="nav-item active"
      *ngIf="isLoggedIn && manager"
      [routerLink]="['managment']"
      routerLinkActive="active"
    >
      <i class="bi bi-person-lines-fill btn btn-outline-danger"></i>
    </li>
    <li class="nav-item active" *ngIf="isLoggedIn">
      <img
        src="{{ avatar }}"
        [routerLink]="['profile']"
        routerLinkActive="active"
        width="40px"
        class="pointer"
      />
    </li>

    <li class="nav-item active" *ngIf="!isLoggedIn">
      <a
        class="btn btn-outline-primary"
        [routerLink]="['login']"
        routerLinkActive="active"
        >Login
      </a>
    </li>
    <li class="nav-item active" *ngIf="!isLoggedIn">
      <a
        class="btn btn-outline-success"
        [routerLink]="['register']"
        routerLinkActive="active"
        >Register
      </a>
    </li>

    <li class="nav-item active" *ngIf="isLoggedIn" (click)="logout()">
      <i class="bi bi-box-arrow-right btn btn-outline-danger"></i>
    </li>
  </ul>
  <ul class="navbar-nav w-100 d-flex d-md-none justify-content-around">
    <li class="nav-item active" *ngIf="isLoggedIn">
      <img
        src="{{ avatar }}"
        [routerLink]="['profile']"
        routerLinkActive="active"
        width="40px"
        class="pointer"
      />
    </li>
    <li
      class="nav-item active"
      *ngIf="isLoggedIn && manager"
      [routerLink]="['managment']"
      routerLinkActive="active"
    >
      <i class="bi bi-person-lines-fill btn btn-outline-danger"></i>
    </li>
    <li class="nav-item active" *ngIf="!isLoggedIn">
      <a
        class="btn btn-outline-primary"
        [routerLink]="['login']"
        routerLinkActive="active"
        >Login
      </a>
    </li>
    <li class="nav-item active">
      <a
        class="navbar-brand me-auto"
        [routerLink]="['home']"
        routerLinkActive="active"
        ><img src="../../../assets/logo nero.png" alt="" />
      </a>
    </li>

    <li class="nav-item active" *ngIf="!isLoggedIn">
      <a
        class="btn btn-outline-success"
        [routerLink]="['register']"
        routerLinkActive="active"
        >Register
      </a>
    </li>

    <li class="nav-item active" *ngIf="isLoggedIn" (click)="logout()">
      <i class="bi bi-box-arrow-right btn btn-outline-danger"></i>
    </li>
  </ul>
</nav>
