:host {
  nav {
    background-color: var(--color-prymary-blu);
    height: 4em;
    ul {
      li {
        margin-inline: 1em;
        a {
          img {
            width: 40px;
            color: var(--color-white);
          }
        }
      }
    }
  }
}
