:root {
  --color-prymary-blu: #064789;
  --color-secondary-blu: #427aa1;
  --color-green: #32a759bc;
  --color-accent: #d83636;
  --color-white: #ebf2fa;
  --color-black: #01060c;
  --color-semitasparent: #0647891b;
}
