div {
  background-color: rgba(4, 94, 94, 0.069);
  border-radius: 5px;
  margin-bottom: 2px;
  .ex-date {
    font-size: 0.8em;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin: 0 5px 0;
  }
}
